# ====== CACHES / BUILDS ======
.nx/
tmp/
generated/
dist/
api/dist/
web/dist/

# ====== UPLOADS REAL ======
api/uploads/

# ====== SECRETOS ======
.env
*.env
api/.env*
*.key
*private_key*.key
_*.consultoriacareve.com_private_key.key

# ====== NODE / IDE ======
node_modules/
.angular/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ====== BACKUPS / EXPORTS ======
backups/
soyTuAgente_code_*.tar.gz

# ====== LOGS ======
*.log
error.log

# ====== SISTEMA OPERATIVO ======
.DS_Store

# ====== JEST / TEMP ======
coverage/


# Docroot solo local
.local-docroot/
uploads/
