# caches/builds
.nx/
tmp/
generated/
dist/
api/dist/
web/dist/

# uploads de usuarios
api/uploads/

# secretos
.env
*.key
*private_key*.key
_.consultoriacareve.com_private_key.key

# node/IDE
node_modules/
.angular/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# macOS / logs
.DS_Store
*.log
error.log
