<!-- web/src/app/layout/footer/footer.component.html -->
<footer class="site-footer">
  <div class="container footer-top">
    <!-- Columna: Marca + texto -->
    <div class="ft-brand">
      <a class="logo" routerLink="/" aria-label="Soy tu Agente">
        <img src="assets/logo-light.svg" alt="Soy tu Agente" />
      </a>
      <p class="lead">
        Conecta con agentes de seguros certificados, capacítate y haz crecer tu presencia digital en SoyTuAgente.
      </p>
    </div>

    <!-- Columna: Navegación -->
    <nav class="ft-col">
      <h4>Navegación</h4>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a routerLink="/eventos">Certificaciones</a></li>
        <li><a routerLink="/agentes">Buscar agente</a></li>
        <li><a routerLink="/contacto">Contactanos</a></li>
      </ul>
    </nav>

    <!-- Columna: Ayuda -->
    <nav class="ft-col">
      <h4>Ayuda</h4>
      <ul>
        <li><a routerLink="/preguntas-frecuentes">FAQ</a></li>
        <li><a routerLink="/terminos">Términos y Condiciones</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        
      </ul>
    </nav>

    <!-- Columna: CTA + redes -->
    <div class="ft-actions">
      <a class="btn-cta" routerLink="/unirme">Unirme a Soy tu Agente</a>


     <div class="social-center">
  <a
    href="https://instagram.com/Soytuagente.com.mx"
    class="ico ig"
    target="_blank"
    rel="noreferrer"
  >
    <img src="/assets/icons/instagram.svg" alt="Instagram" />
  </a>

  <a
    href="https://facebook.com/soytuagentemx"
    class="ico fb"
    target="_blank"
    rel="noreferrer"
  >
    <img src="/assets/icons/facebook.svg" alt="Facebook" />
  </a>
</div>

    </div>
  </div>

  <hr class="ft-div" />

  <div class="container footer-bottom">
    <small>
      Todos los derechos reservados  |  Soytuagente.mx [2025]  |  Encuentra a tu agente de seguros perfecto
    </small>
  </div>
</footer>
