:root{
  --font-sans: 'Figtree', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --font-serif: 'DM Serif Text', Georgia, 'Times New Roman', serif;
}
html, body { font-family: var(--font-sans); }

/* imports utilitarios */
@use './tokens';
@use './reset';
@use './utilities';

.home-hero, .home-categorias { background: transparent; } 
